<div class="container">
    <h2>Bienvenido a nuestra plataforma de donaciones</h2>
    <p>Ayúdanos a hacer la diferencia en la vida de quienes más lo necesitan.</p>
  
    <h3>¿Por qué donar?</h3>
    <p>Las donaciones son una forma de contribuir a causas benéficas y ayudar a comunidades en situación vulnerable.</p>
    <p>Tu donación puede marcar la diferencia y tener un impacto positivo en la vida de las personas.</p>
  
    <h3>¿Cómo puedes donar?</h3>
    <p>Para realizar una donación, visita la vista de Lista de Donaciones y registra tus datos y el valor que deseas donar.</p>
    <p>Una vez que hayamos recaudado el valor objetivo, el elemento correspondiente se eliminará de la lista.</p>
  
    <h3>¡Gracias por tu generosidad!</h3>
    <p>Tu contribución es valiosa y nos ayuda a seguir trabajando por un mundo mejor.</p>
  </div>
  